<a href="https://colab.research.google.com/github/vitor-edu/Python-para-Processamento-de-Linguagem-Natural-ICMC-USP/blob/main/Aula_3__Tuplas_Dicion%C3%A1rio__Arquivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tupla

In [ ]:
tupla = (32, 'vitor', 34, 'testando tupla', 45, 'abc', 33) # criando uma tupla com tipos diferentes

In [ ]:
tupla

(32, 'vitor', 34, 'testando tupla', 45, 'abc', 33)

In [ ]:
tupla[1] # retornando valor na posição 1

'vitor'

Dicionário

In [ ]:
dic = {} # criando um dicionário vazio

In [ ]:
dic['valo1'] = 'vitor' # atribuindo valor para o dicionário
dic['valo2'] = 'monique'
dic['valo3'] = 'lais'
dic['valo4'] = 'natalha'

In [ ]:
dic

{'valo1': 'vitor', 'valo2': 'monique', 'valo3': 'lais', 'valo4': 'natalha'}

In [ ]:
dic2 = {} #criando dicionário vazio

In [ ]:
dic2[1] = 332 # atribuindo valores ao dicionário
dic2[2] = 553
dic2[3] = 345
dic2[4] = 346

In [ ]:
dic2

{1: 332, 2: 553, 3: 345, 4: 346}

In [ ]:
dic3 = {} # criando dicionario vazio

In [ ]:
dic3['list1'] = ['vitor','maria','niki','edilson'] #atribuindo um valor tipo lista para o dicionario
dic3['list2'] = ['fran','tata','lucas','tureli']
dic3['list3'] = ['marcos','naty','jessica','portao']
dic3['list4'] = ['lizias','jesus','joarez','mayra']

In [ ]:
dic3

{'list1': ['vitor', 'maria', 'niki', 'edilson'],
 'list2': ['fran', 'tata', 'lucas', 'tureli'],
 'list3': ['marcos', 'naty', 'jessica', 'portao'],
 'list4': ['lizias', 'jesus', 'joarez', 'mayra']}

In [ ]:
dic4 = {} # criando um dicionário vazio

In [ ]:
dic4[11] = [343, 565, 675, 566] #atribuindo um valor tipo lista para o dicionario
dic4[22] = [334, 545, 676, 676]
dic4[33] = [343, 454, 343, 456]
dic4[44] = [787, 676, 876, 787]

In [ ]:
dic4

{11: [343, 565, 675, 566],
 22: [334, 545, 676, 676],
 33: [343, 454, 343, 456],
 44: [787, 676, 876, 787]}

In [ ]:
dic4.keys() # retorna a lista com todas as chaves

dict_keys([11, 22, 33, 44])

In [ ]:
dic4.values() # #retorna a lista com todos os valores

dict_values([[343, 565, 675, 566], [334, 545, 676, 676], [343, 454, 343, 456], [787, 676, 876, 787]])

In [ ]:
type(dic4.keys()) #tipo dos dados

dict_keys

In [ ]:
dic.update(dic2) # atribuindo os valores dos dicionários criados ao dicionário dic
dic.update(dic3) 
dic.update(dic4)

In [ ]:
dic

{1: 332,
 11: [343, 565, 675, 566],
 2: 553,
 22: [334, 545, 676, 676],
 3: 345,
 33: [343, 454, 343, 456],
 4: 346,
 44: [787, 676, 876, 787],
 'list1': ['vitor', 'maria', 'niki', 'edilson'],
 'list2': ['fran', 'tata', 'lucas', 'tureli'],
 'list3': ['marcos', 'naty', 'jessica', 'portao'],
 'list4': ['lizias', 'jesus', 'joarez', 'mayra'],
 'valo1': 'vitor',
 'valo2': 'monique',
 'valo3': 'lais',
 'valo4': 'natalha'}

In [ ]:
dic_all = list(dic.items()) # fazendo um cast mudando de dicionario para lista retornando chave e valor

In [ ]:
dic_all

[('valo1', 'vitor'),
 ('valo2', 'monique'),
 ('valo3', 'lais'),
 ('valo4', 'natalha'),
 (1, 332),
 (2, 553),
 (3, 345),
 (4, 346),
 ('list1', ['vitor', 'maria', 'niki', 'edilson']),
 ('list2', ['fran', 'tata', 'lucas', 'tureli']),
 ('list3', ['marcos', 'naty', 'jessica', 'portao']),
 ('list4', ['lizias', 'jesus', 'joarez', 'mayra']),
 (11, [343, 565, 675, 566]),
 (22, [334, 545, 676, 676]),
 (33, [343, 454, 343, 456]),
 (44, [787, 676, 876, 787])]

In [ ]:
type(dic_all) # verificando tipo de variável

list

In [ ]:
for k, v in dic_all: 
  print('result-chave: ', k, 'result-valor: ', v)

result-chave:  valo1 result-valor:  vitor
result-chave:  valo2 result-valor:  monique
result-chave:  valo3 result-valor:  lais
result-chave:  valo4 result-valor:  natalha
result-chave:  1 result-valor:  332
result-chave:  2 result-valor:  553
result-chave:  3 result-valor:  345
result-chave:  4 result-valor:  346
result-chave:  list1 result-valor:  ['vitor', 'maria', 'niki', 'edilson']
result-chave:  list2 result-valor:  ['fran', 'tata', 'lucas', 'tureli']
result-chave:  list3 result-valor:  ['marcos', 'naty', 'jessica', 'portao']
result-chave:  list4 result-valor:  ['lizias', 'jesus', 'joarez', 'mayra']
result-chave:  11 result-valor:  [343, 565, 675, 566]
result-chave:  22 result-valor:  [334, 545, 676, 676]
result-chave:  33 result-valor:  [343, 454, 343, 456]
result-chave:  44 result-valor:  [787, 676, 876, 787]

Arquivos: Lendo arquivos

In [7]:
from google.colab import drive #baixando arquivo do drive para analise. 
drive.mount('/content/drive')
infile = open('/content/drive/My Drive/qbdata.txt','r')
x = infile.readlines()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
x

['First Name, Last Name, Position, Team, Completions, Attempts, Yards, TDs Ints, Comp%, Rating\n',
 'Colt McCoy QB, CLE  135 222 1576    6   9   60.8%   74.5\n',
 'Josh Freeman QB, TB 291 474 3451    25  6   61.4%   95.9\n',
 'Michael Vick QB, PHI    233 372 3018    21  6   62.6%   100.2\n',
 'Matt Schaub QB, HOU 365 574 4370    24  12  63.6%   92.0\n',
 'Philip Rivers QB, SD    357 541 4710    30  13  66.0%   101.8\n',
 'Matt Hasselbeck QB, SEA 266 444 3001    12  17  59.9%   73.2\n',
 'Jimmy Clausen QB, CAR   157 299 1558    3   9   52.5%   58.4\n',
 'Joe Flacco QB, BAL  306 489 3622    25  10  62.6%   93.6\n',
 'Kyle Orton QB, DEN  293 498 3653    20  9   58.8%   87.5\n',
 'Jason Campbell QB, OAK  194 329 2387    13  8   59.0%   84.5\n',
 'Peyton Manning QB, IND  450 679 4700    33  17  66.3%   91.9\n',
 'Drew Brees QB, NO   448 658 4620    33  22  68.1%   90.9\n',
 'Matt Ryan QB, ATL   357 571 3705    28  9   62.5%   91.0\n',
 'Matt Cassel QB, KC  262 450 3116    27  7   58.2%   93.0\n',
 'Mark Sanchez QB, NYJ    278 507 3291    17  13  54.8%   75.3\n',
 'Brett Favre QB, MIN 217 358 2509    11  19  60.6%   69.9\n',
 'David Garrard QB, JAC   236 366 2734    23  15  64.5%   90.8\n',
 'Eli Manning QB, NYG 339 539 4002    31  25  62.9%   85.3\n',
 'Carson Palmer QB, CIN   362 586 3970    26  20  61.8%   82.4\n',
 'Alex Smith QB, SF   204 342 2370    14  10  59.6%   82.1\n',
 'Chad Henne QB, MIA  301 490 3301    15  19  61.4%   75.4\n',
 'Tony Romo QB, DAL   148 213 1605    11  7   69.5%   94.9\n',
 'Jay Cutler QB, CHI  261 432 3274    23  16  60.4%   86.3\n',
 'Jon Kitna QB, DAL   209 318 2365    16  12  65.7%   88.9\n',
 'Tom Brady QB, NE    324 492 3900    36  4   65.9%   111.0\n',
 'Ben Roethlisberger QB, PIT  240 389 3200    17  5   61.7%   97.0\n',
 'Kerry Collins QB, TEN   160 278 1823    14  8   57.6%   82.2\n',
 'Derek Anderson QB, ARI  169 327 2065    7   10  51.7%   65.9\n',
 'Ryan Fitzpatrick QB, BUF    255 441 3000    23  15  57.8%   81.8\n',
 'Donovan McNabb QB, WAS  275 472 3377    14  15  58.3%   77.1\n',
 'Kevin Kolb QB, PHI  115 189 1197    7   7   60.8%   76.1\n',
 'Aaron Rodgers QB, GB    312 475 3922    28  11  65.7%   101.2\n',
 'Sam Bradford QB, STL    354 590 3512    18  15  60.0%   76.5\n',
 'Shaun Hill QB, DET  257 416 2686    16  12  61.8%   81.3']

inserir dados no arquivo.

In [14]:
from google.colab import drive # inserindo dados em um arquivo txt no drive. 
drive.mount('/content/drive')
outfile = open('/content/drive/My Drive/teste_usp.txt','w') # trocando para w de write. 
outfile.write("numeros de 1 a 10 ")
for i in range(1,11):
  outfile.write(str(i)+'\n')
outfile.close()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
result = open('/content/drive/My Drive/teste_usp.txt','r') # mostrar o arquivo alterado
arquivo_inscrito = result.readlines()
arquivo_inscrito

['numeros de 1 a 10 1\n',
 '2\n',
 '3\n',
 '4\n',
 '5\n',
 '6\n',
 '7\n',
 '8\n',
 '9\n',
 '10\n']