<a href="https://colab.research.google.com/github/vitor-edu/Python-para-Processamento-de-Linguagem-Natural-ICMC-USP/blob/main/Aula_3__Tuplas_Dicion%C3%A1rio__Arquivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tupla

In [31]:
tupla = (32, 'vitor', 34, 'testando tupla', 45, 'abc', 33) # criando uma tupla com tipos diferentes

In [32]:
tupla

(32, 'vitor', 34, 'testando tupla', 45, 'abc', 33)

In [33]:
tupla[1] # retornando valor na posição 1

'vitor'

Dicionário

In [34]:
dic = {} # criando um dicionário vazio

In [35]:
dic['valo1'] = 'vitor' # atribuindo valor para o dicionário
dic['valo2'] = 'monique'
dic['valo3'] = 'lais'
dic['valo4'] = 'natalha'

In [36]:
dic

{'valo1': 'vitor', 'valo2': 'monique', 'valo3': 'lais', 'valo4': 'natalha'}

In [37]:
dic2 = {} #criando dicionário vazio

In [38]:
dic2[1] = 332 # atribuindo valores ao dicionário
dic2[2] = 553
dic2[3] = 345
dic2[4] = 346

In [39]:
dic2

{1: 332, 2: 553, 3: 345, 4: 346}

In [40]:
dic3 = {} # criando dicionario vazio

In [41]:
dic3['list1'] = ['vitor','maria','niki','edilson'] #atribuindo um valor tipo lista para o dicionario
dic3['list2'] = ['fran','tata','lucas','tureli']
dic3['list3'] = ['marcos','naty','jessica','portao']
dic3['list4'] = ['lizias','jesus','joarez','mayra']

In [42]:
dic3

{'list1': ['vitor', 'maria', 'niki', 'edilson'],
 'list2': ['fran', 'tata', 'lucas', 'tureli'],
 'list3': ['marcos', 'naty', 'jessica', 'portao'],
 'list4': ['lizias', 'jesus', 'joarez', 'mayra']}

In [43]:
dic4 = {} # criando um dicionário vazio

In [44]:
dic4[11] = [343, 565, 675, 566] #atribuindo um valor tipo lista para o dicionario
dic4[22] = [334, 545, 676, 676]
dic4[33] = [343, 454, 343, 456]
dic4[44] = [787, 676, 876, 787]

In [45]:
dic4

{11: [343, 565, 675, 566],
 22: [334, 545, 676, 676],
 33: [343, 454, 343, 456],
 44: [787, 676, 876, 787]}

In [46]:
dic4.keys() # retorna a lista com todas as chaves

dict_keys([11, 22, 33, 44])

In [47]:
dic4.values() # #retorna a lista com todos os valores

dict_values([[343, 565, 675, 566], [334, 545, 676, 676], [343, 454, 343, 456], [787, 676, 876, 787]])

In [48]:
type(dic4.keys()) #tipo dos dados

dict_keys

In [66]:
dic.update(dic2) # atribuindo os valores dos dicionários criados ao dicionário dic
dic.update(dic3) 
dic.update(dic4)

In [64]:
dic

{1: 332,
 11: [343, 565, 675, 566],
 2: 553,
 22: [334, 545, 676, 676],
 3: 345,
 33: [343, 454, 343, 456],
 4: 346,
 44: [787, 676, 876, 787],
 'list1': ['vitor', 'maria', 'niki', 'edilson'],
 'list2': ['fran', 'tata', 'lucas', 'tureli'],
 'list3': ['marcos', 'naty', 'jessica', 'portao'],
 'list4': ['lizias', 'jesus', 'joarez', 'mayra'],
 'valo1': 'vitor',
 'valo2': 'monique',
 'valo3': 'lais',
 'valo4': 'natalha'}

In [69]:
dic_all = list(dic.items()) # fazendo um cast mudando de dicionario para lista retornando chave e valor

In [70]:
dic_all

[('valo1', 'vitor'),
 ('valo2', 'monique'),
 ('valo3', 'lais'),
 ('valo4', 'natalha'),
 (1, 332),
 (2, 553),
 (3, 345),
 (4, 346),
 ('list1', ['vitor', 'maria', 'niki', 'edilson']),
 ('list2', ['fran', 'tata', 'lucas', 'tureli']),
 ('list3', ['marcos', 'naty', 'jessica', 'portao']),
 ('list4', ['lizias', 'jesus', 'joarez', 'mayra']),
 (11, [343, 565, 675, 566]),
 (22, [334, 545, 676, 676]),
 (33, [343, 454, 343, 456]),
 (44, [787, 676, 876, 787])]