<a href="https://colab.research.google.com/github/vitor-edu/Python-para-Processamento-de-Linguagem-Natural-ICMC-USP/blob/main/Aula_3__Tuplas_Dicion%C3%A1rio__Arquivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tupla

In [22]:
tupla = (32, 'vitor', 34, 'testando tupla', 45, 'abc', 33) # criando uma tupla com tipos diferentes

In [23]:
tupla

(32, 'vitor', 34, 'testando tupla', 45, 'abc', 33)

In [24]:
tupla[1] # retornando valor na posição 1

'vitor'

Dicionário

In [25]:
dic = {} # criando um dicionário vazio

In [26]:
dic['valo1'] = 'vitor' # atribuindo valor para o dicionário
dic['valo2'] = 'monique'
dic['valo3'] = 'lais'
dic['valo4'] = 'natalha'

In [27]:
dic

{'valo1': 'vitor', 'valo2': 'monique', 'valo3': 'lais', 'valo4': 'natalha'}

In [28]:
dic2 = {} #criando dicionário vazio

In [29]:
dic2[1] = 332 # atribuindo valores ao dicionário
dic2[2] = 553
dic2[3] = 345
dic2[4] = 346

In [30]:
dic2

{1: 332, 2: 553, 3: 345, 4: 346}

In [31]:
dic3 = {} # criando dicionario vazio

In [32]:
dic3['list1'] = ['vitor','maria','niki','edilson'] #atribuindo um valor tipo lista para o dicionario
dic3['list2'] = ['fran','tata','lucas','tureli']
dic3['list3'] = ['marcos','naty','jessica','portao']
dic3['list4'] = ['lizias','jesus','joarez','mayra']

In [33]:
dic3

{'list1': ['vitor', 'maria', 'niki', 'edilson'],
 'list2': ['fran', 'tata', 'lucas', 'tureli'],
 'list3': ['marcos', 'naty', 'jessica', 'portao'],
 'list4': ['lizias', 'jesus', 'joarez', 'mayra']}

In [34]:
dic4 = {} # criando um dicionário vazio

In [35]:
dic4[11] = [343, 565, 675, 566] #atribuindo um valor tipo lista para o dicionario
dic4[22] = [334, 545, 676, 676]
dic4[33] = [343, 454, 343, 456]
dic4[44] = [787, 676, 876, 787]

In [36]:
dic4

{11: [343, 565, 675, 566],
 22: [334, 545, 676, 676],
 33: [343, 454, 343, 456],
 44: [787, 676, 876, 787]}